{# base.html #}
<!DOCTYPE html>
<html>
    <head>
        <title>Flask Example</title>
		
		<!-- Latest compiled and minified CSS -->	
		<link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
		<!-- Optional theme -->
		<link href="{{ url_for('static', filename='css/bootstrap-theme.min.css') }}" rel="stylesheet">
		<!-- Latest compiled and minified JavaScript -->
		<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
		
    </head>
    <body>
		<h1>Test Base Template</h1>		
        {% block body %}{% endblock %}
    </body>
</html>